<h1>Demo#hello</h1>
<p>Just hello!</p>

<% 1+1 %>

<%= 1+1 %>
<br />

<% target = "GO!!!" %>
<%= "Count now #{target}" %>

<% @array.each do |n| %>
	<%= n %><br />
	<% end %>

	<br />
<a href="/demo/index">Index page1</a><br />
<%= link_to('Index page 2', {:action => 'index'})%>

<br />

ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Page:<%= @page %><br />
Next Page: <%= @page + 1 %><br />

<hr />
<%= params.inspect %>